body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	z-index: 149;
	transition: 0.8s;
}
body.popup-show::after {
	opacity: 1;
	pointer-events: auto;
}
.popup {
	position: fixed;
	visibility: hidden;
	pointer-events: none;
	max-width: 300px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	&.popup-show {
		visibility: visible;
		pointer-events: auto;
		z-index: 150;
		overflow: auto;
	}

	&__inner {
		margin: 0 auto;
		position: relative;
		background-color: #fff;
		padding: 15px;
		border-radius: 15px;
	}

	&__button {
		position: absolute;
		right: 15px;
		top: 10px;
	}

	&__title {
		font-size: 22px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 15px;
	}

	&__body {
	}
}
