// General file to import components styles

// Tabs styles
// @import "base/tabs";

// Showmore styles
// @import "base/showmore";

// Accordeon styles
// @import "base/accordion";

// Popup
@import "base/popup";

// Slider styles
// @import "../../node_modules/swiper/swiper-bundle.min.css"